@import '../styles/fonts';
@import '../styles/colors';

section {
  width: 100%;
  flex: 1;

  #search-city {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .search-form {
      display: flex;
      align-items: center;
      gap: 5px;

      #city-search {
        font-size: 20px;
        border: none;
        background-color: $secondary-color;
        color: white;
        border-bottom: 2px solid $primary-color;

        &:focus {
          outline: none;
        }
      }
    }

    .error-search-text {
      color: $error-color;
      text-align: center;
    }

    .search-buttons {
      display: flex;
      gap: 20px;

      .city-button {
        font-size: 20px;
        border-radius: 10px;
        border: 2px solid $primary-color;
        background-color: $primary-color;
        color: $font-color;

        width: 100px;

        &:hover {
          cursor: pointer;
          scale: 1.02;
        }
      }
    }

    img {
      filter: $svg-icon-color;
      width: 30px;
    }

    margin: 118px 30px 10px;
  }

  #content-grid {
    display: grid;
    margin: 20px 20px;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    gap: 25px;

    .city-container {
      color: $font-dark-color;
      background-color: $lighter-secondary-color;
      border-radius: 10px;
      box-shadow: $city-box-shadow;
      display: flex;
      flex-direction: column;

      .close-button {
        width: 45px;
        filter: $svg-icon-color;
        align-self: flex-end;

        &:hover {
          cursor: pointer;
        }
      }

      .city-title {
        border-bottom: 2px solid $primary-color;
        padding: 5px 10px;
        h5 {
          height: 29px;
        }
      }

      .local-time {
        border-bottom: 2px solid $primary-color;
        padding: 5px 10px;
      }

      .current-weather {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        padding: 5px 10px;
        border-bottom: 2px solid $primary-color;

        .current-weather-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
        .current-temp {
          display: flex;
          flex-direction: column;
          min-width: 140px;
          justify-content: space-around;
        }

        img {
          width: 90px;
        }
      }

      .extra-weather-info {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: 2px solid $primary-color;
        .humidity,
        .rain-chance,
        .wind-speed {
          text-align: center;
        }
      }

      .forecast {
        display: flex;
        justify-content: space-around;
        padding: 5px 10px;

        .forecast-day {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .forecast-date{
            margin: 5px 0;
          }
          .forecast-sep {
            display: flex;

            .left-forecast {
              display: flex;
              flex-direction: column;
              align-items: end;
              text-align: end;
              padding-right: 5px;
              border-right: 2px solid $primary-color;
            }

            .right-forecast {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              padding-left: 5px;
              h5{
                font-size: 15px;
              }
            }
          }
          .max-temp {
            font-size: 20px;
          }
        }
        img {
          width: 45px;
        }
      }
    }
  }
}
