@import '../styles/fonts';
@import '../styles/colors';

footer {
  max-width: 100%;
  .creator-info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 40px;
    a,
    h6 {
      text-decoration: none;
      color: $font-dark-color;
    }
    img {
      width: 30px;
      filter: $svg-icon-color;
    }
  }
}
