$primary-color: #7e57c2;
$lighter-primary-color: #a583e0;
$transparent-primary-color: rgba(126, 87, 194, 0.7);
$secondary-color: #1D2B3A;
$lighter-secondary-color: rgb(38, 57, 77);
$selection-color: rgb(53, 80, 109);
$warnging-color: #FFBD00;
$error-color: #D62839;
$cancel-color: #BC2C1A;
$font-color: black;
$font-dark-color: #8E959D;
$check-color: #549F93;
$check-filter-color: #e7ff8a;

$svg-icon-color: invert(99%) sepia(1%) saturate(428%) hue-rotate(265deg) brightness(118%) contrast(100%);
$svg-completed-color: invert(46%) sepia(59%) saturate(700%) hue-rotate(218deg) brightness(77%) contrast(96%);