@import '../modules/_navBar.scss';
@import '../modules/_footer.scss';
@import '../modules/_content.scss';
@import './colors';

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;

  #content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    background-color: $secondary-color;
  }

  overflow-x: hidden;
}

input {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}

img {
  width: 1100px;
}

@media (max-width: 960px) {
  header {
    flex-direction: column;
    justify-content: start;
    align-items: start;

    #header-title {
      margin-left: 20px;
    }

    #log-in-container {
      margin-left: 20px;
      margin-bottom: 20px;
    }

    #log-out-container {
      margin-left: 20px;
      margin-bottom: 20px;
    }

    #unit-buttons {
      position: absolute;
      bottom: 45%;
      right: 20px;
    }

    #sign-in-modal,
    #log-in-modal {
      top: 400px;
    }
  }

  section {
    #search-city {
      margin-top: 220px;
    }
  }
}

@media (max-width: 640px) {
  header {
    #unit-buttons {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}

@media (max-width: 460px) {
  header {
    #header-title {
      font-size: 48px;
      margin: 10px 20px;
      justify-content: start;
    }
  }

  section {
    #content-grid {
      grid-template-columns: 1fr;
    }
  }
}
