@import '../modules/_navBar.scss';
@import '../modules/_footer.scss';
@import '../modules/_content.scss';
@import './colors';

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;

  #content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    background-color: $secondary-color;
  }

  overflow-x: hidden;
}

input {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
}

img {
  width: 1100px;
}
